
@import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');
/* font-family: 'Island Moments', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Shalimar&display=swap');
/* font-family: 'Shalimar', cursive; */


body{
    background-color: black;
}

#jumbotronInicial{
    background-image: url(/multimedia/jumbotron.jpg);
    background-position: center;
}

#tituloPrincipal{
    color: grey;
    text-align: center;
    font-family:'Island Moments', cursive; ;
    font-size: 70px;
}

#tituloSecundario{
    color: white;
    font-family: 'Shalimar', cursive;
    font-size: 50px;
}

.tituloTorta{
    font-family: 'Island Moments', cursive;
    font-size: 50px;
}

p{
    font-family: 'Shalimar', cursive;
    font-size: 30px;
}
.tortas{
    text-align: center;
    color: beige;
    margin: 10px;
}

img{
    width: 300px;
    margin: 10px;
}


#tortaChocolate{
}

#tortaFrutilla{
}

#tortaVainilla{
}

#tortaMerengue{
}
#chocotorta{
}
#lemonPie{
}
#chessecake{
}
#marquesse{
}
#rogel{
}

#carritoDeCompras{
  background-color: rgba(231, 182, 223, 0.989);
}